@import "./sass/variables.scss";
@import "./sass//mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $pageBg;
  min-height: 100vh;
  @include flexProp(row, 0rem, center, center);
  font-family: "poppins", sans-serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  .confetti_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    .confetti1,
    .confetti2 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .confetti2 {
      left: 100%;
    }
  }
}
