@import "../sass/variables.scss";
@import "../sass/mixins.scss";

.container {
  position: relative;
  @include flexProp(row, 0, center, center);
  width: auto;

  .base {
    display: grid;
    background-color: $boardBg;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .slide_layer {
    position: absolute;
    background-color: transparent;
    z-index: 2;
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }

  .top {
    display: grid;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
}
