@import "./mixins.scss";
@import "./variables.scss";

.tile {
  @include flexProp(row, 0rem, center, center);
  height: 6.5rem;
  width: 6.5rem;
  background-color: $cellBg;
  border-radius: 3px;
  font-family: "poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.animate {
  animation: newTileAppear 0.15s ease-in-out;
}

.merge_animate {
  animation: mergeTileAnimate 0.15s ease-in-out;
}

@keyframes newTileAppear {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mergeTileAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
