$cellBg: #cdc1b4;
$boardBg: #bbada0;
$text1: #776e65;
$text2: #f9f6f2;
$pageBg: #fafaee;
$scoreCardBg: #bbada0;
$number2Bg: #eee4da;
$number4Bg: #ede0c8;
$number8bg: #f2b179;
$number16bg: #f59563;
$number32bg: #f67c5f;
$number64bg: #f65e3b;
$number128bg: #edcf72;
$number256bg: #edcc61;
$number512bg: #edc850;
$number1024bg: #edc53f;
$number2048bg: #edc22e;
